.card {
  padding: 16px;
  text-align: center;
  background-color: #f88f8f;
}

h1 {
  text-align: center;
  color: black;
  text-decoration: solid;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-size: 35px;
}

h3 {
  font-size: 20px;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.view {
  padding: 10px 25px;
  background-color: none;
  border: 3px solid #3b86db;
  color: black;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 15px;
}
.view:hover {
  background-color: #82b5f0;
  color: #f5f7f8;
}
.landing {
  background-color: #f88f8f;
  font-weight: bolder;
}
